# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

venv
logs
dump.rdb
celerybeat-schedule
Pipfile.lock

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*

__pycache__
app/__pycache__
yarn-error.log*
.idea/
.env

*.db
app.db


__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg