[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-wtf = "*"
flask-migrate = "*"
plaid-python = "*"
python-dotenv = "*"
stripe = "*"
datetime = "*"
flask-script = "*"
bs4 = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
