<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>YOLO</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class='header'>
      <a class='logo' href='/'>
        <img src="{{ url_for('static', filename='img/logo.svg') }}" height="60" />
        YOLO.SPACE
      </a>
    </div>
    <div id="content">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
