{% extends "base.html" %}

{% block content %}
    <h1 class='text-head'>Create Account</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username(placeholder=form.username.label.text) }}<br>
            {% for error in form.username.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password(placeholder=form.password.label.text) }}<br>
            {% for error in form.password.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2(placeholder=form.password2.label.text) }}<br>
            {% for error in form.password2.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('login') }}"><p>Already have an account? Login.</p></a>
{% endblock %}