{% extends "base.html" %}

{% block content %}
    <h1>Create Account</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username(size=32, placeholder=form.username.label) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password(size=32, placeholder=form.password.label) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2(size=32, placeholder=form.password2.label) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('login') }}"><p>Already have an account? Login.</p></a>
{% endblock %}