{% extends "base.html" %} 


{% block content %}
<h1>
	Your balance: 
	<span style="color: green">$200.90</span> 
	<b>+1.0%</b>
</h1>

<br>

<p class='text-head'>🔒 Balance locked for</p>
<h1>💎🙌 <span id="timeLeft"></span> 🙌💎</h1>
<p class='text-head'>DIAMOND HANDS ONLY</p>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Mar 8, 2021 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("timeLeft").innerHTML = hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timeLeft").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
{% endblock %}
