{% extends "base.html" %}

{% block content %}
    <h1 class='text-head'>Login</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username(placeholder=form.username.label.text) }}<br>
            {% for error in form.username.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password(placeholder=form.password.label.text) }}<br>
            {% for error in form.password.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('create_account') }}"><p>New to Yolo? Create an account.</p></a>
{% endblock %}